@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import "tailwindcss";
@plugin "daisyui";


@theme {
  --color-main: #052b47;
  --color-border: #038baf;
  --color-sub_color: #a1d99a; 
  --color-whitecolor: #FFFFFF; 
  --color-lightgreen: #D7EFB5; 
  --color-darkgreen: #005b32; 
  --color-sub_color: #33679b; 
  --color-highlight_color: #FD5873; 
  --color-black: #1B1212; 
  --font-poppins : "Poppins", sans-serif ;
  --font-babas : "Bebas Neue", sans-serif ;
}


/* custom-scroll class */
.custom-scroll::-webkit-scrollbar {
  width: 8px;
}

.custom-scroll::-webkit-scrollbar-track {
  background: #f0f0f0;
  border-radius: 10px;
}

.custom-scroll::-webkit-scrollbar-thumb {
  background: #b1b1b1;
  border-radius: 10px;
}

.custom-scroll::-webkit-scrollbar-thumb:hover {
  background: #969696;
}
.custom-scroll {
  scrollbar-width: thin;
  scrollbar-color: #b1b1b1 #f0f0f0;
}

@keyframes slide-up {
  from { transform: translateY(100%); opacity: 0; }
  to { transform: translateY(0); opacity: 1; }
}

.animate-slide-up {
  animation: slide-up 0.3s ease-out;
}